
body {
  font-family: 'Josefin Sans', sans-serif !important;
}

video {
    top: 0;
    left: 0;
    width: 100%;
    height:100%;

    object-fit: cover;
    object-position: center;
}
section{
  margin-bottom: 10%
}
.rosa{
  background-color:#f77eb9;
  padding: 5%;
  font-size: 22px;
}
.morado{
  color:#45035e;
}
.blanco{
  color: #FFF;
}
.col-sm-6 {
    min-height: calc(33.333vh - 20px);
    color: white;
    font-size: 20px;
}
.text {
    background: grey;
}

.picture {
    background: #F4B350;
    margin-bottom: 20px;
}

.icocno{
  font-size: 30px;
      margin-top: 7PX;
}

.fab{
  
      margin-top: 7PX;
}
div#fashion {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  /*position: fixed;*/
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  transition: .4s;
}
nav a:link {
  text-decoration: none;
  color: inherit;
  padding: 10PX;
  font-family: 'Josefin Sans', sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
  color: #fff;
  font-weight: bold;

}

a:hover, a:active {
  color:#f87fba !important;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none !important;
  font-family: 'Josefin Sans', sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
  font-weight: bold;


}

.navbar1 {
  background-color: #FFF;
}

.navbar-toggler {
  margin-right: 1rem;
}

.navbar-expand-lg{
  justify-content: space-between!important;
}

.tituloblanco{
  color: #fff !important;
}
a {
    color: #45035e !important;
    text-decoration: none;
    background-color: transparent;
}

h5, h2{
  color: #45035e;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Josefin Sans', sans-serif;
}

.TitulosSeciones{
  font-family: 'Quicksand', sans-serif;
    color: #450360;
    font-size: 40px;
}
.btn-morado{

background-color: #45035e !important;
    border-color: #45035e !important;
    align-items: center;
    justify-content: center;
    font-size: 18px !important;
    width: 30%;
}

.btn-whats{
  background-color: #28e99c !important;
  border-color: #28e99c !important;
  align-items: center;
    justify-content: center;
font-size: 18px !important;
width: 30%;
}


.btn-eliminar{
background-color: #45035e !important;
    border-color: #45035e !important;
/*    width: 10%;
  align-items: center;
  justify-content: center;*/

}

.btn-carrito{
  background-color: #f8f9fa !important;
    border-color: #f87fba !important;
    width: 95%;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    color: #f87fba !important;
    font-size: 18px !important;
}

.btn-verde{
    background-color: #28e99c !important;
    border-color: #28e99c !important;
    width: 95%;
    align-items: center;
    justify-content: center;
    font-weight: bold  !important;
}


.pasos{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  margin-top: 10%;
}
.pasos2{
  margin-top: 8%;
}

.card{
  margin-left: .7rem;
}

.foto2{
 /*background-image: url("../images/dwd.png");*/
/*  width: 30% !important;
  height: auto;*/
  background-repeat: no-repeat;
  background-size: cover;


}
.tamañotexto{
  padding: 10% 20% 10% 10%;
}


.topToget{
  margin-top: 5%;
}





.grid-gallery {
  display: grid;
  grid-auto-rows: 200px;
  grid-gap: 1rem;
  grid-auto-flow: row dense;
}

@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

.grid-gallery__item:nth-child(11n+1) {
  grid-column: span 1;
}

.grid-gallery__item:nth-child(11n+4) {
  grid-column: span 2;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+6) {
  grid-column: span 3;
  grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+7) {
  grid-column: span 1;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+8) {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-gallery__item:nth-child(11n+9) {
  grid-row: span 3;
}

.grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*.pasosTex{
  padding: 2%;
}*/


.equipo{
  /*margin-top: 15%;*/
  background-color: #f7f7f7;
  width: 100%;
  height: auto;
}

.Titulo-Gris-equipo{
  font-family: 'Quicksand', sans-serif; 
  color: #575756;     
  font-size: 40px;
  padding:14% 14% 2% 15%;
  
}


.shotviw{
  font-family: 'Quicksand', sans-serif;
  padding:5%;
  color: #575756;
  font-size:16px;
  padding:5% 10% 2% 15%;
}
.redes{
  padding:5% 10% 2% 15%;
}
.social{
  padding: 2%;
}

.textIntro3{
  font-family: 'Quicksand', sans-serif;
  margin-top: 5%;
  color: #FFFFFF;
  font-size:20px;
  text-align: center;
}
.botonmorado{
      background-color: #450260;
    color: #fff;
    width: auto;
    text-align: center;
    padding: 2%;
}


.header {
    height: 950px;
/*    background-image: linear-gradient(to right bottom, 
    rgb(62 51 60 / 47%),
    rgb(69 2 96 / 78%)),
    url('../images/portada.png') no-repeat center center/cover;
    background-size: cover;*/
     background:linear-gradient(to right bottom, rgb(62 51 60 / 47%),
    rgb(69 2 96 / 78%)), url('../images/portada2.png') no-repeat center center/cover;
 
  font-family: "PT Sans Narrow", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin: 0;

  
}

.heading-tex{
  color: #fff;
}

.brand-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.brand { font-size: 20px; }

.text-box {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 5px;
}

.heading-primary-sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
  font-size: 14px;
}
.compras{
    text-align: center;
    
    font-size: 16px;
}



.totalDecompra{
    font-size: 20px;
}

.totalCompra{
    font-size: 30px;
}
/*_____________________*/
footer{
  background-color:#45035e; 
}

.footerDirection{
  width: 100%;
  height:400px;
 background: #FFF;
    border-radius: 5px;
    border-bottom: solid 5px #ff3366;
  margin: 5%;
  box-shadow: 0px 10px 10px -3px ;


}

.textcenter{
 padding-top: 10%;
/*color: #ff3366;
font-size: 30px;*/

}
.textoFooter{
    font-size: 12px;
  padding-top: 5%;
 letter-spacing: .2px;
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif !important;
    padding-bottom: 15%;
    color: #333;
    padding-left: 10%;
    padding-right: 10%;

}

/*///////////Galeri/////////*/
.-fx-image-gal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  justify-content: center;
}
.-fx-gal-item {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.-fx-gal-item a {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.-fx-gal-image-thumb img {
  width: 100%;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.-fx-gal-image-thumb:hover img {
  cursor: pointer;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.5);
  transition: all 0.5s ease;
}
@media (min-width: 420px) {
  .-fx-image-gal {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .-fx-gal-item {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .-fx-gal-item {
    width: 33.33%;
  }
}
.galeria{
  padding-top: 10%;
}



/*
//////////////card////////////////*/
 .textoDescripcion{
  height: 190px;
  padding: 2%;
 }


.titulotex{
  margin-top: 7% !important;
}

.foto{
  align-items: center;
    justify-content: center;
    /* height: 300px; */
    padding: 37px;
    background: #f0f0f0;
}
.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
        margin-right: 15%;
    margin-bottom: 9%;
    background: #fafafa;
    padding: 1%;
}
/*
.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}
*/
.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    margin:5px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
    height: auto;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #333;
    height: auto;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin: 2%;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
font-size: 20px;
    color: #e44f99;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #00fa8e;
    transition: 0.3s;
    font-size: 25px;
}

.product-links a:hover {
    color: #fbb72c;
}

.fa-shopping-cart{
  color:#00fa8e;
}



/*(///galery)*/


.gallery {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(15,21vw);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  overflow: scroll;
  scroll-snap-type: both mandatory;
  scroll-padding: 1rem;
}

.active {
  scroll-snap-type: unset;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .gallery {
   grid-template-columns: repeat(15,90vw);
  }
  video{
      height: 60vh
  }

  .btn-morado{
    width: 95%;
  }
  .btn-whats{
      width: 95%;
  }
}


.product-promo{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    display: block;
    width: calc(1.5em + 2.125rem);
    height: calc(1.5em + 2.125rem);
    line-height: calc(1.5em + 2.125rem);
    text-align: center;
    background: #28e99c;
    border-radius: 50%;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    z-index: 10;
}
.item-price{
 font-size: 20px;
}